<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Dealers</h1>
    <span th:if="${topDealers.size() == 0}">Dealers List is empty</span>
    <table th:if="${topDealers.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>First name</td>
            <td>Last name</td>
            <td>email</td>
            <td>Average rating</td>
            <!--            <td></td>-->
            <!--            <td></td>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="dealer : ${topDealers}">
            <td><a th:href="@{'/dealer/' + ${dealer.user.id} }" th:text="${dealer.user.id}"/></td>
            <td th:text="${dealer.user.firstName}"/>
            <td th:text="${dealer.user.lastName}"/>
            <td th:text="${dealer.user.email}"/>
            <td th:if="${dealer.averageRating != -1}" th:text="${dealer.averageRating}"/>
            <td><a th:if="${dealer.averageRating == -1}">-</a></td>
            <!--            <td th:if="${dealer.averageRating == -1}" th:text="No rating"/>-->
            <!--                        <td><a class="btn btn-secondary" th:href="@{'/dealer-stat/dealer/' + ${dealer.id}}">Details</a></td>-->
            <!--            <td><a class="btn btn-danger" th:href="@{'/products/delete/' + ${product.id}}">Delete</a></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>